.orangeLine {
  height: 4px;
  width: 45px;
  background-color: #f58800;
  border-radius: 2px;
}

.heroImg {
  background-image: url(../public/Group\ 37.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 85%;
  width: 35%;
  z-index: 100;
  margin-left: -130px;
  margin-top: -150px;
}

@media (max-width: 450px) {
  .heroImg {
    width: 90%;
    height: 40%;
    margin-left: -60px;
    margin-top: 0;
  }
}
